html {
  font-size: 95%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* A subtle, dark gradient background based on user's style */
  background: linear-gradient(
    145deg,
    rgb(0, 0, 0),
    rgba(35, 35, 35, 0.9),
    rgb(50, 50, 50)
  );
  color: #e5e7eb; /* A light gray for text */
}

.futuristic-pattern {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    145deg,
    rgb(0, 0, 0),
    rgba(35, 35, 35, 0.9),
    rgb(50, 50, 50)
  );
  filter: url(#advanced-texture);
}

.futuristic-pattern-light {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    145deg,
    #e0e0e0,
    #f5f5f5,
    #ffffff
  );
  filter: url(#advanced-texture);
}
